
* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: rgb(48, 163, 109);
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: rgb(126, 199, 169);
    display: block;
    margin: auto;
    border: 2px solid black;
}

#alertBox {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

#alertBox button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#welcome {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

#welcome button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}